
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Inconsolata:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');

/* resets */
html {
    box-sizing: border-box;
    overflow-y: scroll;
    font-family: Ubuntu, Cantarell, helvetica neue, sans-serif;
    font-size: 95%;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit; /* all must inherit border-box */
}
/* resets */


body{
    background: fixed no-repeat url("/assets/background.webp");
    background-size: cover;
    background-attachment: fixed;
    transition: background 1s ease-out;
}


#welcome-msg{
    width: 60%;
    padding: 10px;
    height: auto;
    margin: auto;
    padding: 10px;
    background-color: rgb(245, 245, 220, .65);
    border: 1px solid white;
    text-align: center;
    user-select: none;
    text-shadow: #FC0 1px 0 5px;
    border-radius: 5px;
    margin-top: 20%;
    display: block;
    transition: opacity .5s ease-out;
    box-shadow:  
        -20px 20px 60px #b2b2b2,
        20px -20px 60px #f0f0f0;

}

#main-content{
    border-radius: 5px;
    background-color: rgba(204, 247, 255, 0.6);
    border: 1px solid white;
    border-radius: 5px;

    width: 400px;
    height: 420px;
    margin: auto;
    margin-top: -15%;

    transition: opacity .5s ease-in .3s;
    box-shadow:  
        -10px 10px 60px rgba(204, 247, 255, 0.8),
        10px -10px 60px rgba(204, 247, 255, 0.8);

    /* you need this because it's hidden initially and enabled by js */
    opacity: 0;
}

#main-content > div:first-child{
    background-color: rgba(245, 245, 245, 0.8);
    border-bottom: 1px solid #ccc;
    height: 30px;
    width: 100%;
    font-size: 1rem;
    user-select: none;
    text-shadow: #FC0 1px 0 10px;
    text-align: center;
    padding-top: 4px;
}

#box-container{
    pad: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

#keypress-div{
    align-self:stretch;
    text-align: center;
    height: 60%;
    margin: 10px 7px 10px 7px;
    font-size: 8rem;
    text-shadow: rgb(0, 247, 255) 1px 0 5px;
    padding-top: 35px;
    border: 1px solid white;
    border-radius: 0 0 5px 5px;
}

.key-box {
    width: 30%;
    height: 80px;
    border: 1px solid white;    
    border-radius: 0 0 5px 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.key-box > div:first-child{
    background-color: rgba(245, 245, 245, 0.8);
    border-bottom: 1px solid #ccc;
    height: 20px;
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    text-shadow: #FC0 1px 0 10px;
}

.key-box > div:last-child{
    align-self: stretch;
    font-size: 1.3rem;
    margin: auto;
    text-shadow: rgb(0, 247, 255) 1px 0 5px;
}

.modi-keys{
    margin-top: 8px;
    border-top: 3px solid ;
    width: 30% ;
    height: 3px;
    text-align: center;
}


.glass-8 {
    border: 1px solid rgba(255,255,255,.7);
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.3);
    backdrop-filter: blur(8px);
}
.glass-10 {
    border: 1px solid rgba(255,255,255,.7);
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.3);
    backdrop-filter: blur(10px);
}
.glass-15 {
    border: 1px solid rgba(255,255,255,.7);
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.3);
    backdrop-filter: blur(15px);
}
  